<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bath Control</title>
</head>
<body>

    {{{body}}}

</body>
<style>

body {
  font-size: 26px;
}

.main-headline {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 12px;
}

.location {
  border: 1px solid gray;
  margin: 6px;
  padding: 3px;
  max-width: 800px;
}

.location-header {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 6px;
}

.field-set {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.field-set__field {
  margin-bottom: 3px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
}

.field-set__field__label {
  font-weight: bold;
  margin-right: 4px;
  min-width: 250px;
  max-width: 250px;
}

.field-set__field__value {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
}

.field-set__field__value__data {
  min-width: 100px;
  max-width: 100px;
}

.field-set__field__value__since {
  font-size: 22px;
  font-style: italic;
}

.change-links {
  margin-left: 20px;
  padding: 6px;
  margin-bottom: 6px;
}

a.change-link {
  margin: 3px 6px;
  padding: 2px 8px;
  background: gray;
  color: #222 !important;
  text-decoration: initial !important;
  border-radius: 2px;
  border: 1px solid #ccc;
}

a.change-link--auto {
  background: lightblue;
}

a.change-link--off {
  background: red;
}

a.change-link--min {
  background: lime;
}

a.change-link--max {
  background: green;
}

</style>
</html>
